<h2>Lista de Alunos</h2>
<table mat-table [dataSource]="alunos" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let aluno">{{ aluno.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let aluno">{{ aluno.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let aluno">{{ aluno.email }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let aluno">
      <button mat-button color="warn" (click)="deleteAluno(aluno.id)">
        Excluir
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'nome', 'email', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'nome', 'email', 'actions'];"></tr>
</table>
